.profile{
    float: right;
    font-size:14px;
    
}
.profile ul{
    list-style: none
}
.profile li{
    line-height: 30px;
}
.panel-body{
    float: left;
    size: 100px;
}
.birthday{
    font-size: 11.5px;
}
